*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 70vh;
}

body { 
    background-color: #ffffff;
    height: 100%;
}

#loginWindow{
    background: #ffffff;
    margin: 10% auto 0;
    padding: 35px;
    overflow: hidden;
    color: #000000;
    width: 500px;
}

#windowHeader {
    width: 100%;
    height: 12%;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 30px;
    color: rgb(157, 237, 28);
}

.form-control {
    background:none;
    border:none;
    border:1px solid rgb(157, 237, 28);
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:black;
  }

  input[type="email"]:focus,
  input[type="password"]:focus{
    background:none;
    border:none;
    outline: 0 none;
    box-shadow:none;
    border:1px solid rgb(157, 237, 28);
    color:black;
  }

  .form-group{
      margin-bottom: 30px;
  }

  .links{
    margin-top: 10px;
    }
    
    .links a{
    margin-left: 4px;
    color: rgb(157, 237, 28);
    }

  #loginSubmit{
    background-color: rgb(157, 237, 28);
    color: white;
    padding: 5px;
    border-radius: 0px;
    margin-top: 40px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
  }

