*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

body { 
    background-color: white;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#content{
    display: flex;
    background-color: #ffffff;
    height: 100vh;
    color: white;
  }
  
  #header_navigation_container{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
  }
  
  #header_navigation{
    height: 56px;
    padding: 0 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    color: black;
  }
  
  .btn{
      border-radius: 0px;
      background-color: rgb(157, 237, 28);
      border:none;
      margin: 30px;
      color: white;
  }
  
  
  #header_navigation p{
    color: black;
    font-weight: 600;
    font-size: 18px;
  }
  

  #manageUsers{
      display: none;
      padding: 30px;
      padding-top: 86px;
      width: 100%;
      text-align: center;
  }

  #searchbox_container{
    width: 100%;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #searchbox_form{
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  
  #searchbox_form input[type="text"]{
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid rgb(157, 237, 28);
    border-radius: 2px 0 0 2px;
    padding-left: 10px;
  }
  
  i{
    color: rgb(157, 237, 28);
    pointer-events:none;
  }
  
  #searchbox_form button{
    border-radius: 0 2px 2px 0;
    border: 1px solid rgb(157, 237, 28);
    background-color: rgb(157, 237, 28);
    height: 30px;
    margin-left: 2px;
    color: white;
    padding: 0 20px;
  }

  table.table-bordered > thead > tr > th{
    text-align: left;
    border-color: rgb(157, 237, 28);
    color: black;
  }
 

  table tbody tr{
    color: black;
    border-color: rgb(157, 237, 28);
    
  }

  #regularUserDiv{
    display: none;
    padding: 30px;
    padding-top: 86px;
    width: 100%;
    text-align: center;
}